
*.TextGrid
*.wav
AcousticParameters.docx
.Rhistory
IPUs_script.py
Evolang_similarity_extended.Rmd
datasets/IPU_data.csv
Cutting_segments.ipynb
Cutting_segments.ipynb
IPUs_script.py
Cutting_segments.ipynb
